.box-wrapper {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: 50px;
  gap: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.brown {
  background-color: brown;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.black-2 {
  background-color: black;
}
